{% extends 'layout.html' %}
{% block page %}
<main class="container">
  <section class="mt-5">
    <div class="bg-light">
      <div class="alert alert-warning text-bg-warning w-25 " role="alert">
        <i class="fa-solid fa-angles-right"></i> Tin Tức Sản Phẩm 
      </div>
    </div>
    <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <h1>FTX x&aacute;c nhận bị tấn c&ocirc;ng mất khoảng 600 triệu USD</h1>
          <div class="left w100pt time-topic">14:00 | 18/11/2022 |&nbsp;<a class="link" href="http://antoanthongtin.gov.vn/tin-tuc-san-pham">TIN TỨC SẢN PHẨM</a>&nbsp;</div>
          <div class="left w100pt time-topic">
            <div class="news-Content  w100pt">
              <div class="imgNewsCT txtNews left w100pt">&nbsp;</div>
              <div id="links" class="imgNewsCT txtNews left w100pt">
                <strong>Sau khi nộp đơn xin ph&aacute; sản, s&agrave;n giao dịch tiền m&atilde; ho&aacute; FTX x&aacute;c nhận tr&ecirc;n Telegram nền tảng n&agrave;y đ&atilde; bị tấn c&ocirc;ng v&agrave; hướng dẫn người d&ugrave;ng xo&aacute; ứng dụng, cũng như kh&ocirc;ng truy cập v&agrave;o website do lo ngại m&atilde; độc ph&aacute;t t&aacute;n.</strong><br /><br />
                <div class="itemsContainer">
                  <div class="image"><a title="FTX x&aacute;c nhận bị tấn c&ocirc;ng mất khoảng 600 triệu USD "><img class="w-100" src="http://tailieu.antoanthongtin.vn/Files/files/site-2/images/20221114/ftx.png" alt="FTX x&aacute;c nhận bị tấn c&ocirc;ng mất khoảng 600 triệu USD " /></a></div>
                </div>
                <p><br>Cuối ng&agrave;y 11/11, số t&agrave;i sản m&atilde; ho&aacute; trị gi&aacute; khoảng 600 triệu USD được ghi nhận đ&atilde; bị r&uacute;t khỏi v&iacute; điện tử của FTX m&agrave; kh&ocirc;ng hề c&oacute; giải th&iacute;ch r&otilde; r&agrave;ng. Sau đ&oacute; kh&ocirc;ng l&acirc;u, nền tảng giao dịch th&ocirc;ng b&aacute;o tr&ecirc;n k&ecirc;nh&nbsp;<a href="http://antoanthongtin.vn/hacker-malware/tai-sao-tin-tac-gia-tang-su-dung-telegram-108269">Telegram&nbsp;</a>ch&iacute;nh thức rằng c&ocirc;ng ty đ&atilde; bị tấn c&ocirc;ng, hướng dẫn người d&ugrave;ng kh&ocirc;ng c&agrave;i đặt bất kỳ cập nhật n&agrave;o, gỡ bỏ phần mềm v&agrave; dừng truy cập v&agrave;o trang chủ c&ocirc;ng ty.</p>
                <p>Theo dữ liệu tr&ecirc;n chuỗi, c&aacute;c m&atilde; th&ocirc;ng b&aacute;o (token) Ethereum kh&aacute;c nhau, chẳng hạn như Solana v&agrave; Binance Smart Chain đ&atilde; bị r&uacute;t khỏi v&iacute; điện tử ch&iacute;nh thức của FTX v&agrave; chuyển đến c&aacute;c s&agrave;n phi tập trung kh&aacute;c như 1inch.</p>
                <p>Ryne Miller, cố vấn trưởng tại s&agrave;n giao dịch&nbsp;<a href="http://antoanthongtin.vn/doanh-nghiep/morgan-stanley-chap-nhan-nop-phat-vi-ban-o-cung-chua-du-lieu-khach-hang-khong-ma-hoa-108420">m&atilde; ho&aacute;&nbsp;</a>FTX cho biết, c&ocirc;ng ty đang tiến h&agrave;nh điều tra một số hoạt động bất thường tr&ecirc;n v&iacute; li&ecirc;n quan đến hợp nhất số dư FTX tại c&aacute;c s&agrave;n giao dịch.</p>
                <p>Vụ việc diễn ra trong bối cảnh s&agrave;n giao dịch tiền điện tử n&agrave;y vừa nộp đơn xin ph&aacute; sản sau khi mất khả năng chi trả h&agrave;ng tỷ USD cho người d&ugrave;ng. Nhiều chủ sở hữu v&iacute; FTX cũng cho hay, họ đang thấy số dư bằng 0 trong địa chỉ v&iacute; tại FTX.com v&agrave; FTX U.S.</p>
                <p>Tr&ecirc;n Twitter, một số th&agrave;nh vi&ecirc;n của cộng đồng tiền điện tử tin rằng số tiền bị r&uacute;t cạn c&oacute; thể l&agrave; một phần cuộc<a href="http://antoanthongtin.vn/hacker-malware/doi-quan-it-ukraine-trien-khai-8000-vu-tan-cong-mang-vao-nga-108499">&nbsp;tấn c&ocirc;ng</a>&nbsp;của tin tặc, nhưng cũng c&oacute; suy đo&aacute;n rằng việc n&agrave;y được thực hiện bởi nội bộ của FTX, khi c&aacute;c giao dịch xảy ra đồng thời v&agrave; tinh vi.</p>
                <p>Hiện cổng đăng nhập của FTX vẫn kh&ocirc;ng khả dụng d&ugrave; website đang trực tuyến, khiến người d&ugrave;ng gặp lỗi 503 khi cố gắng login t&agrave;i khoản. Th&ocirc;ng b&aacute;o lỗi 503 xảy ra khi m&aacute;y chủ ngừng hoạt động để bảo tr&igrave; hoặc kh&ocirc;ng thể truy cập.</p>
              </div>
              <div id="tacgia">
                <p style="text-align: right">M.H</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-3">
        <div>
          <h6 class="text-bold">Nguyễn Văn Nam</h6>
          <p>Bài viết rất hay.</p>
        </div>
        <div>
          <h6>Lê Thị Mỹ Anh</h6>
          <p>RIP FTX...</p>
        </div>
        <div>
          <h6>Lê Hoàng Oanh</h6>
          <p>CEO sàn Binance đổ thêm dầu vào lửa!</p>
        </div>
      </div>
      <div class="input-group mt-3">
        <textarea placeholder="Nhập comment của bạn" class="form-control"></textarea>
      </div>
      <button type="button" class="btn btn-light mt-2">Comment</button>
    </div>
    <div class="col-sm-4">
      {% for 0 in "123"|make_list %}
      <div class="row mb-4">
        <div class="col">
          <div class="card">
            <div class="row">
              <div class="col-12">
                <div class="card-body ">
                  <img class="w-100 mb-2 rounded" style="auto" src="http://tailieu.antoanthongtin.vn/Files/files/site-2/images/20221117/DSC06361.JPG" alt="...">
                  <h5 class="card-title"><a href="">Học viện Kỹ thuật mật mã tổ chức Lễ kỷ niệm 40 năm ngày Nhà giáo Việt Nam</a></h5>
                  <p class="card-text">Sáng 18/11, Học viện Kỹ thuật mật mã (Ban Cơ yếu Chính phủ) long trọng tổ chức Lễ kỷ niệm 40 năm ngày Nhà giáo Việt Name. Đại tá Nguyễn Hữu Hùng, Phó Trưởng ban Ban Cơ yếu Chính phủ tới dự...</p>
                  <p class="card-text"><small class="text-muted">Cập nhật 3 phút trước.</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="mt-4">
        <a href="">Xem thêm</a>
      </div>
    </div>
  </section>
</main>
{% endblock %}