{% extends 'layout.html' %}
{% block page %}
<main class="container">
  <section class="mt-5">
    <div class="bg-light">
      <div class="alert alert-warning text-bg-warning w-25 " role="alert">
        <i class="fa-solid fa-angles-right"></i> Chính sách - Chiến lược
      </div>
    </div>
    <div class="row">
    <div class="col">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="card">
              <img src="http://tailieu.antoanthongtin.vn/Files/files/site-2/images/20221018/kyso.jpeg"
                class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"><a href="">Tăng cường sử dụng chữ ký số chuyên dùng Chính phủ phục vụ
                  cải cách hành chính trong các cơ quan Đảng, Nhà nước</a>
                </h5>
                <p class="card-text">Sắp tới, ngày 28/10 tại Biên Hòa, Đồng Nai, Ban Cơ yếu Chính phủ sẽ chủ
                  trì, phối hợp với UBND tỉnh Đồng Nai tổ chức ...
                </p>
                <p class="card-text"><small class="text-muted">Cập nhật 3 phút trước.</small></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card">
              <img src="http://tailieu.antoanthongtin.vn/Files/files/site-2/images/20221018/kyso.jpeg"
                class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"><a href="">Tăng cường sử dụng chữ ký số chuyên dùng Chính phủ phục vụ
                  cải cách hành chính trong các cơ quan Đảng, Nhà nước</a>
                </h5>
                <p class="card-text">Sắp tới, ngày 28/10 tại Biên Hòa, Đồng Nai, Ban Cơ yếu Chính phủ sẽ chủ
                  trì, phối hợp với UBND tỉnh Đồng Nai tổ chức ...
                </p>
                <p class="card-text"><small class="text-muted">Cập nhật 3 phút trước.</small></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card">
              <img src="http://tailieu.antoanthongtin.vn/Files/files/site-2/images/20221018/kyso.jpeg"
                class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"><a href="">Tăng cường sử dụng chữ ký số chuyên dùng Chính phủ phục vụ
                  cải cách hành chính trong các cơ quan Đảng, Nhà nước</a>
                </h5>
                <p class="card-text">Sắp tới, ngày 28/10 tại Biên Hòa, Đồng Nai, Ban Cơ yếu Chính phủ sẽ chủ
                  trì, phối hợp với UBND tỉnh Đồng Nai tổ chức ...
                </p>
                <p class="card-text"><small class="text-muted">Cập nhật 3 phút trước.</small></p>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col">
      <div class="row mb-4">
        <div class="col">
          <div class="card">
            <div class="row">
              <div class="col-4">
                <img class="w-100 h-100 "
                  src="http://tailieu.antoanthongtin.vn/Files/files/site-2/images/20221018/kyso.jpeg"
                  alt="...">
              </div>
              <div class="col-8">
                <div class="card-body ">
                  <h5 class="card-title"><a href="">Tăng cường sử dụng chữ ký số chuyên dùng Chính phủ phục vụ
                    cải cách hành chính trong các cơ quan Đảng, Nhà nước</a>
                  </h5>
                  <p class="card-text">Sắp tới, ngày 28/10 tại Biên Hòa, Đồng Nai, Ban Cơ yếu Chính phủ sẽ chủ
                    trì, phối hợp với UBND tỉnh Đồng Nai tổ chức ...
                  </p>
                  <p class="card-text"><small class="text-muted">Cập nhật 3 phút trước.</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col">
          <div class="card">
            <div class="row">
              <div class="col-4">
                <img class="w-100 h-100 "
                  src="http://tailieu.antoanthongtin.vn/Files/files/site-2/images/20221018/kyso.jpeg"
                  alt="...">
              </div>
              <div class="col-8">
                <div class="card-body ">
                  <h5 class="card-title"><a href="">Tăng cường sử dụng chữ ký số chuyên dùng Chính phủ phục vụ
                    cải cách hành chính trong các cơ quan Đảng, Nhà nước</a>
                  </h5>
                  <p class="card-text">Sắp tới, ngày 28/10 tại Biên Hòa, Đồng Nai, Ban Cơ yếu Chính phủ sẽ chủ
                    trì, phối hợp với UBND tỉnh Đồng Nai tổ chức ...
                  </p>
                  <p class="card-text"><small class="text-muted">Cập nhật 3 phút trước.</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-4">
        <a href="">Xem thêm</a>
      </div>
    </div>
  </section>
  <section class="mt-5">
    <div class="bg-light">
      <div class="alert alert-warning text-bg-warning w-25 " role="alert">
        <i class="fa-solid fa-angles-right"></i> Tấn công mạng
      </div>
    </div>
    <div class="row">
    <div class="col">
      <div class="card">
        <img src="http://tailieu.antoanthongtin.vn/Files/files/site-2/images/20221018/kyso.jpeg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><a href="">Tăng cường sử dụng chữ ký số chuyên dùng Chính phủ phục vụ
            cải cách hành chính trong các cơ quan Đảng, Nhà nước</a>
          </h5>
          <p class="card-text">Sắp tới, ngày 28/10 tại Biên Hòa, Đồng Nai, Ban Cơ yếu Chính phủ sẽ chủ
            trì, phối hợp với UBND tỉnh Đồng Nai tổ chức ...
          </p>
          <p class="card-text"><small class="text-muted">Cập nhật 3 phút trước.</small></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row mb-4">
        <div class="col">
          <div class="card">
            <div class="row">
              <div class="col-4">
                <img class="w-100 h-100 "
                  src="http://tailieu.antoanthongtin.vn/Files/files/site-2/images/20221018/kyso.jpeg"
                  alt="...">
              </div>
              <div class="col-8">
                <div class="card-body ">
                  <h5 class="card-title"><a href="">Tăng cường sử dụng chữ ký số chuyên dùng Chính phủ phục vụ
                    cải cách hành chính trong các cơ quan Đảng, Nhà nước</a>
                  </h5>
                  <p class="card-text">Sắp tới, ngày 28/10 tại Biên Hòa, Đồng Nai, Ban Cơ yếu Chính phủ sẽ chủ
                    trì, phối hợp với UBND tỉnh Đồng Nai tổ chức ...
                  </p>
                  <p class="card-text"><small class="text-muted">Cập nhật 3 phút trước.</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col">
          <div class="card">
            <div class="row">
              <div class="col-4">
                <img class="w-100 h-100 "
                  src="http://tailieu.antoanthongtin.vn/Files/files/site-2/images/20221018/kyso.jpeg"
                  alt="...">
              </div>
              <div class="col-8">
                <div class="card-body ">
                  <h5 class="card-title"><a href="">Tăng cường sử dụng chữ ký số chuyên dùng Chính phủ phục vụ
                    cải cách hành chính trong các cơ quan Đảng, Nhà nước</a>
                  </h5>
                  <p class="card-text">Sắp tới, ngày 28/10 tại Biên Hòa, Đồng Nai, Ban Cơ yếu Chính phủ sẽ chủ
                    trì, phối hợp với UBND tỉnh Đồng Nai tổ chức ...
                  </p>
                  <p class="card-text"><small class="text-muted">Cập nhật 3 phút trước.</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-4">
        <a href="">Xem thêm</a>
      </div>
    </div>
  </section>
  <section class="mt-5">
    <div class="bg-light">
      <div class="alert alert-warning text-bg-warning w-25 " role="alert">
        <i class="fa-solid fa-angles-right"></i> Chứng thực - điện tử
      </div>
    </div>
    <div class="row">
    <div class="col">
      <div class="card">
        <img src="http://tailieu.antoanthongtin.vn/Files/files/site-2/images/20221018/kyso.jpeg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><a href="">Tăng cường sử dụng chữ ký số chuyên dùng Chính phủ phục vụ
            cải cách hành chính trong các cơ quan Đảng, Nhà nước</a>
          </h5>
          <p class="card-text">Sắp tới, ngày 28/10 tại Biên Hòa, Đồng Nai, Ban Cơ yếu Chính phủ sẽ chủ
            trì, phối hợp với UBND tỉnh Đồng Nai tổ chức ...
          </p>
          <p class="card-text"><small class="text-muted">Cập nhật 3 phút trước.</small></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row mb-4">
        <div class="col">
          <div class="card">
            <div class="row">
              <div class="col-4">
                <img class="w-100 h-100 "
                  src="http://tailieu.antoanthongtin.vn/Files/files/site-2/images/20221018/kyso.jpeg"
                  alt="...">
              </div>
              <div class="col-8">
                <div class="card-body ">
                  <h5 class="card-title"><a href="">Tăng cường sử dụng chữ ký số chuyên dùng Chính phủ phục vụ
                    cải cách hành chính trong các cơ quan Đảng, Nhà nước</a>
                  </h5>
                  <p class="card-text">Sắp tới, ngày 28/10 tại Biên Hòa, Đồng Nai, Ban Cơ yếu Chính phủ sẽ chủ
                    trì, phối hợp với UBND tỉnh Đồng Nai tổ chức ...
                  </p>
                  <p class="card-text"><small class="text-muted">Cập nhật 3 phút trước.</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col">
          <div class="card">
            <div class="row">
              <div class="col-4">
                <img class="w-100 h-100 "
                  src="http://tailieu.antoanthongtin.vn/Files/files/site-2/images/20221018/kyso.jpeg"
                  alt="...">
              </div>
              <div class="col-8">
                <div class="card-body ">
                  <h5 class="card-title"><a href="">Tăng cường sử dụng chữ ký số chuyên dùng Chính phủ phục vụ
                    cải cách hành chính trong các cơ quan Đảng, Nhà nước</a>
                  </h5>
                  <p class="card-text">Sắp tới, ngày 28/10 tại Biên Hòa, Đồng Nai, Ban Cơ yếu Chính phủ sẽ chủ
                    trì, phối hợp với UBND tỉnh Đồng Nai tổ chức ...
                  </p>
                  <p class="card-text"><small class="text-muted">Cập nhật 3 phút trước.</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-4">
        <a href="">Xem thêm</a>
      </div>
    </div>
  </section>
</main>
{% endblock %}