{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-i18n="app-title"></title>
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
      integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
      crossorigin="anonymous"></script>
    <!--Fontawesome-->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css'
      integrity='sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=='
      crossorigin='anonymous' />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js'
      integrity='sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA=='
      crossorigin='anonymous'></script>
    <!--Jquery-->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js'
      integrity='sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=='
      crossorigin='anonymous'></script>
    <!--Favicon-->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon/news.jpg' %}" type="image/x-icon">
  </head>
  <body id="app">
    <header>
      <nav class="navbar navbar-expand-lg ">
        <div class="container">
          <a class="navbar-brand" href="#">
          <img src="{% static 'assets/images/logo/news.jpg' %}" alt="Bootstrap" width="60" height="60">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" data-i18n="home-label"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" data-i18n="hot-news-label"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" data-i18n="24h-news-label"></a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false" data-i18n="category-label">
                Dropdown
                </a>
                <div class="dropdown-menu" style="width:720px">
                  <ul>
                    <li class="d-inline-block m-1"><a class="dropdown-item" href="#">Chính sách - Chiến
                      lược</a>
                    </li>
                    <li class="d-inline-block m-1"><a class="dropdown-item" href="#">Tấn công mạng</a>
                    </li>
                    <li class="d-inline-block m-1"><a class="dropdown-item" href="#">Chứng thực điện
                      tử</a>
                    </li>
                    <li class="d-inline-block m-1"><a class="dropdown-item" href="#">Mật mã dân sự</a>
                    </li>
                    <li class="d-inline-block m-1"><a class="dropdown-item" href="#">Giải pháp ATTT</a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" id="search-bar" aria-label="Search">
              <button class="btn btn-warning" type="submit" data-i18n="search-button-label"><i
                class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <div class="navbar-text ms-3 dropdown-center">
              <span class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
              <i class="fa-solid fa-user"></i>
              </span>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#" data-i18n="user-information"></a></li>
                <li><a class="dropdown-item" href="#" data-i18n="logout"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>
    {% block page %}
    {% endblock %}
    <footer class="bg-dark text-light mt-5">
      <div class="container p-3">
        <div class="row">
          <div class="col">
            <img src="{% static 'assets/images/logo/news.jpg' %}" alt="Bootstrap" width="120" height="120">         
          </div>
          <div class="col">
            <p>Trường Đại học Công nghệ thông tin.</p>
            <p>Lập trình ứng dụng Web.</p>
            <p>Nhóm 13.</p>
          </div>
          <div class="col">
            <p>Django Project.</p>
            <p>@Copyright 2022.</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <!--Application-->
  <script type="module" src="{% static 'webapp/app/app.js' %}"></script>
  <!--Customize-->
  <link rel="stylesheet" href="{% static 'assets/css/information_security_news_styles.css' %}">
  <script type="module" src="{% static 'assets/js/information_security_news_behavior.js' %}"></script>
</html>